.hamster-box {
    spacing: 15px;
    min-width: 25em;
}

.hamster-box-label {
    padding-top: 1em;
    text-align: center;
}

.hamster-activities {
    border: 1px solid #333;
}

.hamster-scrollbox {
    max-height: 200px;
    overflow-x: none;
    overflow-y: auto;
}

.cell-label {
    padding: 3px;
    padding-right: 15px;
    color: #aaa;
}

.summary-label {
    color: #aaa;
    text-align: right;
}

.cell-button {
    padding: 3px 5px;
}

.clickable:hover {
    background-color: #4c4c4c;
}

.clickable:hover .cell-label {
    color: #fff;
}

.panel-box {
    spacing: 5px;
}
